<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <title>{% block title %}BlockTrack{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icon/favicon-16x16.png') }}">
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="url" data-url-shippingcompany="{{ path('app_admin_index') }}" data-url-deliverer="{{ path('app_delivery_index') }}" data-url-customer="{{ path('app_customer_index') }}" data-url-home="{{ path('app_home_index') }}">
    {% block body %}{% endblock %}
    <div id="alerts"></div>
    <div class="modal fade alert alert-danger" data-backdrop="static" data-keyboard="false" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        ERROR
                    </h4>
                </div>
                <div class="modal-body">
                    <h5 id="error-title">No Ethereum provider detected.</h5>
                    <p id="error-text">Please reconnect using a web3.js supporting browser.</p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/web3.min.js') }}"></script>
    <script src="{{ asset('js/instascan.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>

    {% if app.request.get('_route') == 'app_delivery_detail' %}
        <script src="{{ asset('js/delivery_detail.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_delivery_index'  %}
        <script src="{{ asset('js/delivery_index.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_customer_index'  %}
        <script src="{{ asset('js/customer_index.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_customer_detail'  %}
        <script src="{{ asset('js/customer_detail.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_admin_index'  %}
        <script src="{{ asset('js/admin_index.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_admin_detail'  %}
        <script src="{{ asset('js/admin_detail.js') }}"></script>
    {% elseif app.request.get('_route') == 'app_home_index'  %}
        <script src="{{ asset('js/home_index.js') }}"></script>
    {% endif %}
{% endblock %}
</body>
</html>